* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: #666666;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.menu {
    padding: 79px 0 90px 0;
}

.menu-wrapper {
    display: block;
    list-style: none;
    font-size: 10;
    text-align: center;
    text-transformation: uppercase;
}

.menu-item {
    text-align: center;
    display: inline-block;
}

.menu-item:not(:last-child){
    margin-right: 60px;
}

.menu-item .link {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.menu-item .link:hover {
    color: #0099ff;
}

.content-list {
    font-size: 0;
}

.content-item {
    width: 100%;
    max-width: 420px;
    display: inline-block;
    padding-bottom: 90px;
}

.content-item:nth-child(odd) {
    margin-right: 60px;
}

.content-item .content-pic {
    width: 100%;
    max-width: 420px;
    margin-bottom: 30px;
}

.content-item p.tag {
    margin: 0;
}

.content-item .tag a {
    color: #cc9999;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.content-item h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

.content-item p {
    font-size: 14px;
    line-height: 1.7em;
}

.loader {
    text-align: center;
    margin: 0 auto 70px;
    display: block;
    font-size: 20px;
    border: 1px solid #333;
    padding: 20px 30px;
    background: #fff;
}