* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: #666666;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.menu {
    padding: 79px 0 90px 0;
}

.menu-wrapper {
    display: block;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.menu-item {
    text-align: center;
    display: inline-block;
}

.menu-item:not(:last-child){
    margin-right: 60px;
}

.menu-item .link {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.menu-item .link:hover {
    color: #0099ff;
}

