:root{
    --color-red:#f38181;
    --color-gray:#999;
    --color-black:#333;
    --color-yellow:#fce38a;
    --color-birch:#95e1d3;
    --color-white:#fff;
    --gradient:linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 50px 0;
}

.logo a{
    color: var(--color-birch);
text-decoration: none;
flex-basis: 90px;
font-size: 30px;
font-weight: 700;
font-family: 'Open Sans', sans-serif;
}
.logo a:hover{
    color: var(--color-red);
    transition: all 200ms linear;
}
.nav{
    width: 490px;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
}
.navigation-link{
    flex-basis: 50px;
    font-size: 14px;
    color: var(--color-birch);
    text-transform: uppercase;
    line-height: 34px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 3px solid var(--color-white);
    font-family: 'Open Sans', sans-serif;
}
.navigation-link:hover{
    color: var(--color-red);
    border-bottom: 3px solid var(--color-red);
    transition: all 200ms linear;
}
.block-head{
    text-align: center;
}
.first-line{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    padding-bottom: 20px;
    text-transform: capitalize;
}
.second-line{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}
.second-line::after{
    content: '';
    background-color: var(--color-red);
    width: 60px;
    height: 3px;
    display: block;
    margin: 40px auto 0px; 
}
.block-head-desc{
    color: var(--color-gray);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    line-height: 24px;
    margin-bottom: 90px;
    font-weight: lighter;
}
.services-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.services-list-item{
    width: 320px;
    margin-bottom: 100px;
    position: relative;
}
.services-card{
    width: 34px;
    height: 34px;
    position: absolute;
    display: inline-block;
}
.services-card.alarm{
    background-image: url(../img/ALARM.png);
    background-repeat: no-repeat;
}
.services-card.line-graph{
    background-image: url(../img/LINEGRAPH.png);
    background-repeat: no-repeat;
}
.services-card.computer{
    background-image: url(../img/COMPUTER.png);
    background-repeat: no-repeat;
}
.services-card.book{
    background-image: url(../img/BOOK.png);
    background-repeat: no-repeat;
}
.services-card.home{
    background-image: url(../img/HOME.png);
    background-repeat: no-repeat;
}
.services-card.image{
    background-image: url(../img/IMAGE.png);
    background-repeat: no-repeat;
}
.services-title {
    color: var(--color-black);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 120px;
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 20px;
    position: relative;
    left: 10%;
}

.services-desc {
    color: var(--color-gray);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 260px;
    display: inline-block;
    margin-left: 60px;
    line-height: 24px;
}
.team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-list-item {
    width: 380px;
    margin-bottom: 80px;
}

.photo {
    margin-bottom: 30px;
    position: relative;
}
.img{
    object-fit: cover;
}

.name {
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.speciality {
    color: var(--color-gray);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    line-height: 24px;
}

.hover {
    width: 380px;
    height: 470px;
    background-image: var(--gradient);
    background-size: contain;
    position: absolute;
    top: 0;
    box-shadow: 10px 10px #95e1;
    transition: opacity 200ms;
    opacity: 0;
}

.photo:hover > .hover {
    opacity: 1;
    transform: translate(-10px, -10px);
    transition: all 200ms linear;
    cursor: pointer;
    box-shadow: 10px 10px 3px 3px rgb(149, 225, 211);
}

.box {
    height: 56px;
    width: 56px;
    background-color: var(--color-yellow);
    position: relative;
    transition: color 200ms;
}
 


.icon-container {
    display: flex;
    justify-content: space-between;
    width: 230px;
    position: absolute;
    top: 50%;
    left: 20%;
}

.box:hover {
    background-color: var(--color-birch);
}

.icon-img {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer {
    padding: 10px 0;
    border-top: 1px solid rgb(229, 229, 229);
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-size: 14px;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.footer-text a {
    color: var(--color-red);
    text-decoration: none;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="email"] {
    line-height: 40px;
    padding: 0;
    text-indent: 6px;
    width: 220px;
    border: 1px solid rgb(229, 229, 229);
    color: var(--color-gray);
    font-weight: lighter;
    font-style: italic;
    border-right: none;
}

input[type="submit"] {
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
    background-color: var(--color-birch);
    color: var(--color-white);
    border: 1px solid var(--color-birch);
    font-weight: bold;
}

input[type="submit"]:hover {
    transition: all 200ms linear;
    background-color: var(--color-white);
    color: var(--color-birch);
    border-color: var(--color-birch);
    line-height: 40px;
}