*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans, sans-serif ;
}
header{
    margin-bottom: 100px;
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 38px 0 0 0;    
}
.header{
    margin-bottom: 100px;
}
.logo{
    float: left;
}
.logo a{
    color: #000;
    display: block;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}
.logo a::first-letter {
  color: aquamarine;
  font-weight: 900;
  font-size: 35px;
}
.nav{
    float: right;
}
.title-item{
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    text-transform: uppercase;
}
.title-item::after{
    content: "";
    height: 8px;
    width: 160px;
    background-color: aquamarine;
    display:block;
    margin:auto;
    margin-top: 32px;
}
.menu-item{
    float: left;
    list-style: none
}
.menu-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
.menu-item{
    margin-right: 15px;
    text-decoration: none; 
}
.menu-item:last-child{
    margin-right: 0;
}
.menu-link:hover{
color:aquamarine
}
.catalog-item{
    float: left;
    background-color: #323232;
    height: 320px;
    width: 255px;
    margin-bottom: 30px;
    font-size: 18px;
    margin-right: 30px;
}
.catalog-item:nth-child(4n){
margin-right: 0;
}
.catalog-image{
   height: 280px;
   width: 255px; 
   background-color:#e9f0fd;
   
}
.info-clearfix{
    color: #fff;
    width: 200px;
    height: 40px;
    display: inline-block;
    padding: 14px;  
    text-transform: uppercase;
    float: left;
    
}
.price-clearfix{
    display: inline-block;
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
    color: #fff;
    float: left;
    text-transform: uppercase;
    padding: 14px;
}
.catalog-item:hover .info-clearfix {
    background-color:rgba(26, 188, 156, 0.7);
   
}
.price-clearfix:hover{
    background-color:rgba(26, 188, 156, 0.7);
   
}
.news-clearfix{
    display: inline-block;
    float: left;
}
.news-item{
    display: inline-block;
    float: left;
    width: 350px;
    margin-right: 30px;

}
.news-item:last-child{
    margin-right: 0;
}
.article-img{
    margin-bottom: 10px;
}
.news-h4{
 font-size: 20px;
 margin-bottom: 10px;
 display:inline-block;

}
.news-h4::after{
    content: "";
    height: 8px;
    width: 160px;
    background-color: aquamarine;
    display:block;
    margin-top: 5px;
    margin-bottom: 32px;
}
.btn{
    width: 160px;
    height: 50px;
    background-color:aquamarine;
   margin-top: 10px;
    display: inline-block;
    padding: 19px 40px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;

}