:root{
    --color-black: #333;
    --color-gray: #666;
    --color-yellow:#ffcc33;
    --color-white:#fff;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-regular.woff') format('woff')
}

@font-face {
    font-family: 'Euphoria';
    font-style: normal;
    font-weight: 400;
    src: local('Euphoria Script'), local('EuphoriaScript-Regular'),
    url('../fonts/euphoria-script-v8-latin-regular.woff2') format('woff2'),
    url('../fonts/euphoria-script-v8-latin-regular.woff') format('woff')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat Black'), local('Montserrat-Black'),
    url('../fonts/montserrat-v14-latin-900.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin-900.woff') format('woff')
}

@font-face {
    font-family: 'Seaweed Script';
    font-style: normal;
    font-weight: 400;
    src: local('Seaweed Script'), local('SeaweedScript-Regular'),
    url('../fonts/seaweed-script-v7-latin-regular.woff2') format('woff2'),
    url('../fonts/seaweed-script-v7-latin-regular.woff') format('woff')
}
.container{
    width: 100%;
    max-width: 940px;
 margin: 0 auto;
}
.footer-container{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 120px 0;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    width: 485px;
}
.logo a{
    text-decoration: none;
    font-family:  "Seaweed Script", cursive;
    color: var(--color-yellow);
    font-size: 32px;
}
.menu__link{
    text-decoration: none;
    font-size: 14px;
    color: var(--color-black);
    text-transform: uppercase;
    display: block;
    font-family: "Roboto", sans-serif;
}
.menu__link:hover{
    color: var(--color-yellow);
    transition: all 200ms;

}
.article{
    text-align: center;
}
.first-line{
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-bottom: 17px;

}
.second-line{
    color: var(--color-gray);
    font-size: 15px;
    font-style:italic;

}
.services-list{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.korzina{
    background-image: url(../img/Icon-Basket.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    border: var(--color-yellow) 3px solid;
    margin-bottom: 20px;
}
.nout{
background-image: url(../img/Icon-Laptop.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    border: var(--color-yellow) 3px solid;
    margin-bottom: 20px;
}
.zamok{
    background-image: url(../img/Icon-Locked.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    border: var(--color-yellow) 3px solid;
    margin-bottom: 20px;
}
.services-article{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    padding-bottom: 8px;

}
.services-text{
color: var(--color-gray);
font-family: sans-serif;
font-size: 15px;

}
.services-list-item{
    display: flex;
    justify-content: center;
}